body {
  margin: 0 auto;
  width: 100%;
}

header {
  position: fixed;
  height: 10%;
  z-index: 100;
  padding: 1%;
  background-color: #C75A57;
  width: 100%;
}

h1 {
  font-family: "Bevan", Serif;
  font-weight: 400;
  font-size: 3.5em;
  color: white;
}

h2 {
  font-family: "Bevan", Serif;
  font-size: 1.5em;
}

h3 {
  margin: 1.5em;
  font-family: "Bevan", Cursive;
}

p {
  font-family: "Pontano Sans", Sans-serif;
}



/*============ PAGE TITLE STYLES ============*/
#pageTitle {
  position: relative;
  float:left;
  max-width: 30%;
  padding-left:.7em;
  padding-top: 1%;
  font-family: "Bevan", Serif;
  font-size: 1.5em;
  color: white;
}

#pageTitle:hover {
  color: #A9C7CF;
}

/*============ MAIN NAVIGATION STYLES ============*/
#mainNav {
  position: relative;
  max-width: 60%;
  float: right;
  text-align: right;
  padding-right: 3.0em;
}


li {
  display: inline;
  padding: .5em;
  font-family: "Bevan", Serif;
  color: white;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: #A9C7CF;
}

/*============ MAIN IMAGE STYLES ============*/
#mainImage {
  width: 100%;
  background-color: #C75A57;
  background-repeat: no-repeat;
  height: 100%;
}

#welcome {
  width: 35%;
  height: 35%;
  position: relative;
  border: none !important;
  cursor: pointer;
  display: inline-block;
  webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  webkit-transform;
  transition-property: transform;
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#welcome:hover {
  -webkit-transform: scale(1.2)
  rotate(90deg);
  -ms-transform: scale(1.2)
  rotate(90deg);
  transform: scale(1.2) rotate(90deg);
}

#imageText {
  text-align: center;
  padding: 150px 100px 100px 100px;
}

/*============ MAIN CONTENT STYLES ============*/
#siteWrapper {
  display: block;
  background-color: #A9C7CF;
  width: 100%;
}

#siteInner {
  width: 95%;
  display: inline-block;
  padding-top: 2.7%;
  padding-bottom: 4.7%;
  padding-left: 2.7%;
  padding-right: 2.7%;
}

.section {
  border-radius: 40px;
  padding: .75%;
  background-color: white;
  min-width: 55%;
  max-width: 100%;
}

#tblHeading {
  padding-left: 1%;
}

table {
  min-width: 30%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1%;
/*  text-align: center;*/
}

td {
  min-width: 30%;
  max-width: 100%;
  padding: .75em;
  font-family: "Droid Sans", Sans-serif;
  font-size: .95em;
}

.content {
  position: relative;
  display: inline;
  max-width: 100%;
  float: left;
  clear: right;
  padding-left: 1%;
  padding-top: 4%;
  padding-bottom: 2%;
}

.content2 {
  position: relative;
  display: inline;
  max-width: 100%;
  float: right;
  clear: left;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  border-radius: 20px;
  background: white;
  margin-top: 10px;
}

.maple {
  display: inline;
  float:left;
  clear: right;
  max-width: 35%;
  padding-right: 2%;
}

.content3 {
  position: relative;
  display: inline;
  max-width: 100%;
  float: left;
  clear: right;
  padding: 5px;
  border-radius: 20px;
  margin-top: 40px;
}

.coffee {
  display: inline;
  float:right;
  clear: left;
  max-width: 40%;
  padding-left: 4%;
  padding-left: 2%;
}

/*============ FORM STYLES ============*/
form {
  padding: 0px 5px 0px 5px;
  text-align: right;
  float: right;
  clear: left;
  display: inline;
  max-width: 35%;
}

fieldset {
  display: inline-block;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.formLabel {
  font-family: "Bevan", Serif;
  font-size: 95%;
  text-align: center;
}

.inputs {
  font-family: "Pontano Sans", Sans-serif;
  font-weight: 100;
  font-size: 100%;
  text-align: center;
  color: #5a5854;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 10px;
}

.sbtForm {
  width: 250px;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: #C75A57;
  color: #ffffff;
  font-family: "Bevan", Serif;
  font-size: 1.7em;
  font-variant: small-caps;
  letter-spacing: .2em;
}

.sbtForm:hover{
  background-color: #A9C7CF;
  color: #C75A57;
}

/*============ FOOTER STYLES ============*/

.footer {
  position: absolute;
  width: 100%;
  height:75px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-timing-function: ease;
}

.footer:hover {
  box-shadow: inset 2 2 2 10px;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -transform: scale(1.2);

}

